<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1 id="h1">Detail</h1>
<table>
    <tr id="todoId">
        <th>id</th>
    </tr>
    <tr id="todoActivityName">
        <th>activityName</th>
    </tr>
    <tr id="todoCategory">
        <th>category</th>
    </tr>
    <tr id="todoLabel">
        <th>label</th>
    </tr>
    <tr id="todoProgress">
        <th>progress</th>
    </tr>
</table>
<button id="delete">削除</button>
<script type="text/javascript" th:src="@{/js/todo.js}"></script>
</body>
</html>