<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
<h1>Detail</h1>
<table id="todo">
    <tr>
        <th>id</th>
        <td id="todoId"></td>
    </tr>
    <tr>
        <th>activityName</th>
        <td id="todoActivityName"></td>
    </tr>
    <tr>
        <th>category</th>
        <td id="todoCategory"></td>
    </tr>
    <tr>
        <th>label</th>
        <td id="todoLabel"></td>
    </tr>
    <tr>
        <th>progress</th>
        <td id="todoProgress"></td>
    </tr>
</table>
<script type="text/javascript" th:src="@{/js/todo.js}"></script>
</body>
</html>