<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>

</head>
<body>
<h1>Todo</h1>
    <ul id="todoUl">
        <!-- todo activitity name inside -->
    </ul>
<script type="text/javascript" th:src="@{/js/todo-list.js}"></script>
<!-- <script type="text/javascript" th:src="@{/js/sample.js}"></script> -->
<!-- <script type="text/javascript" th:src="@{/js/todo-post.js}"></script> -->
<a href="/register.html">新規作成</a><br>
</body>
</html>